div{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

span{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.field{
 display: table;
}

.row{
  display: table-row;
}

.card{
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  float: left;
  margin: 10px;
  text-align: center;
  display: table-cell;
}

.card span{
  display: table-cell;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  visibility: hidden;
}
