.card{
  background-color: lightgrey;
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  text-align: center;
  display: table;
}

.card span{
  display: table-cell;
  vertical-align: middle;
  visibility: hidden;
  
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
